$black: #2c3335;
$white: #dae0e2;
$softWhite: #7b8788;
.container {
  background-color: #ffff;
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
  display: flex;
  .content {
    flex-direction: row;
    display: flex;
    height: 100%;
    .table-content {
      flex: 1;
      padding: 15px;
      table {
        width: 100%;
        td {
          text-align: center;
        }
        th {
          font-family: sans-serif;
          color: $black;
          background-color: $white;
          padding: 5px;
        }
        .table-icons {
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .btn-transaction {
        justify-content: flex-end;
        display: flex;
      }
      .btn-new-transaction {
        padding: 0;
        border: none;
        background: none;
        border-radius: 4px;
        background-color: $softWhite;
        border: none;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        width: 200px;
        transition: all 0.5s;
        margin: 5px;
        display: flex;
        justify-content: space-evenly;
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }

  .header {
    height: 50px;
    background-color: $white;
  }
  .menu-content {
    background-color: #eaf0f1;
    width: 200px;
    align-items: center;
    height: 100%;
    padding-top: 15px;
    .menu-text-content-active {
      margin-bottom: 15px;
      padding: 10px;
      background-color: $white;
      &:hover {
        cursor: pointer;
      }
      span {
        padding: 10px;
        color: $black;
        font-size: 22px;
      }
    }
    .menu-text-content {
      margin-bottom: 15px;
      padding: 10px;
      &:hover {
        background-color: $white;
        cursor: no-drop;
      }
      span {
        padding: 10px;
        color: $black;
        font-size: 22px;
      }
    }
  }
  .footer {
    color: $black;
    height: 50px;
    background-color: $white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  tbody {
    display: block;
    height: 500px;
    overflow: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  thead {
    width: calc(100% - 1em);
  }
}
